
@{
    ViewBag.Title = "ConfirmMessage";
}

<h2>ConfirmMessage</h2>

<script type="text/javascript">
function ConfirmationDialog() {
if(confirm("Are you sure to continue?"))
return true;
else
return false;
}
</script>

@Html.ActionLink("Click to Confirm", "Confirmation", null, new { onclick = "return ConfirmationDialog()" })